ion-icon{
    width: 100%;
    color: white;
}

ion-content{
    z-index: 1;
    position: absolute;
    --background: rgba(1,1,1,0);

}

.navigation{
  color: white;
  text-transform: capitalize;
}

.header-section{
    --background: linear-gradient(to bottom left, #3DBDCF, #55BF30);
    padding-bottom: 15%;
    z-index: 1;
    border-radius: 0px 0px 80px 80px;
}

.content-section-toolbar{
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    width: 100%;
    margin-top: 0%;
    padding-top: 0%;
    border-radius: 50px 50px 0px 0px;
}

.img-logo{
    padding-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card-title{
    font-size: 16px;
    margin-left: 0%;
    margin-right: 0%;
    text-align: left;
    font-weight: bold;
    color: #26c6da;
    
}

.card-subtitle{
    font-size: 14px;
    margin-left: 0%;
    margin-right: 0%;
    text-align: left;
}

.btn-akun{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.btn-keamanan{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 2%;
}

.btn-pembayaran{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 2%;
}

.icon-akun{
    color: lightslategrey;
    padding-left: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.icon-keamanan{
    color: lightslategrey;
    padding-left: auto;
    padding-right: auto;
    margin-right: auto;
    margin-left: auto;
    float: left;
}
.icon-pembayaran{
    color: lightslategrey;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.text-akun{
margin-left: 0%;
margin-right: 0%;
padding-right: 50%;
padding-left: 0%;
color: black;
float: right;
text-transform: capitalize;
font-size: 12px;
color: #3f51b5;
}

.text-keamanan{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 51%;
    padding-left: 0%;
    color: black;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #3f51b5;
}

.text-pembayaran{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 72%;
    padding-left: 0%;
    color: black;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #3f51b5;
}

.btn-beranda{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.btn-media{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 2%;
}

.btn-user-time{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 2%;
}

.btn-mode{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 2%;
}

.icon-beranda{
    color: lightslategrey;
    padding-left: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.icon-media{
    color: lightslategrey;
    padding-left: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.icon-user-time{
    color: lightslategrey;
    padding-left: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.icon-mode{
    color: lightslategrey;
    padding-left: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
}


.text-beranda{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 68%;
    padding-left: 0%;
    color: black;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #3f51b5;
}

.text-media{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 81%;
    padding-left: 0%;
    color: black;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #3f51b5;
}

.text-user-time{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 52%;
    padding-left: 0%;
    color: black;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #3f51b5;
}

.text-mode{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 73%;
    padding-left: 0%;
    color: black;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #3f51b5;
}

.btn-preferensi{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.btn-lokasi{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.btn-work{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.icon-preferensi{
    color: lightslategrey;
    padding-left: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.icon-lokasi{
    color: lightslategrey;
    padding-left: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.icon-work{
    color: lightslategrey;
    padding-left: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.text-preferensi{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 70%;
    padding-left: 0%;
    color: black;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #3f51b5;
}

.text-lokasi{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 82%;
    padding-left: 0%;
    color: black;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #3f51b5;
}

.text-work{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 46%;
    padding-left: 0%;
    color: black;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #3f51b5;
}

.btn-ketentuan{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.btn-kebijakan-data{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 2%;
}

.btn-kebijakan-cookie{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 2%;
}

.btn-standar-komunitas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 2%;
}

.btn-tentang{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 2%;
}

.icon-ketentuan{
    color: lightslategrey;
    padding-left: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
}
.icon-kebijakan-data{
    color: lightslategrey;
    padding-left: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.icon-kebijakan-cookie{
    color: lightslategrey;
    padding-left: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.icon-standar-komunitas{
    color: lightslategrey;
    padding-left: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.icon-tentang{
    color: lightslategrey;
    padding-left: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.text-ketentuan{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 63%;
    padding-left: 0%;
    color: black;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #3f51b5;
}

.text-kebijakan-data{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 69%;
    padding-left: 0%;
    color: black;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #3f51b5;
}

.text-kebijakan-cookie{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 65%;
    padding-left: 0%;
    color: black;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #3f51b5;
}

.text-standar-komunitas{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 63%;
    padding-left: 0%;
    color: black;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #3f51b5;
}

.text-tentang{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 79%;
    padding-left: 0%;
    color: black;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #3f51b5;
}