<ion-content>
<ion-header class="ion-no-border">
  <ion-toolbar class="header-section">
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon size="large"slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button class="navigation" href="/">Privacy Policy</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-toolbar class="content-section-toolbar">
    <img src="assets/logo/logo.png" class="img-logo">

    <ion-card>
      <ion-card-header>
      <ion-card-title class="card-title">Akun</ion-card-title>
      <ion-card-subtitle class="card-subtitle">Perbarui info Anda untuk menjaga keamanan akun Anda
      </ion-card-subtitle>
      </ion-card-header>

      <ion-button class="btn-akun" fill="clear">
      <ion-icon class="icon-akun" slot="start" name="people-circle"></ion-icon> 
      <small class="text-akun">Informasi Pribadi dan Akun</small>
      </ion-button>
      
      <ion-button class="btn-keamanan" fill="clear">
        <Ion-icon class="icon-keamanan" slot="start" name="hardware-chip"></Ion-icon>
        <small class="text-keamanan"> Kata Sandi dan Keamanan</small>
      </ion-button>

      <ion-button class="btn-pembayaran" fill="clear">
        <ion-icon class="icon-pembayaran" slot="start" name="ribbon"></ion-icon>
        <small class="text-pembayaran">Pembayaran</small> 
      </ion-button>
    </ion-card> <br>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">Preferensi</ion-card-title>
        <ion-card-subtitle class="card-subtitle">Modifikasi pengalaman Anda di Tajuk Plus</ion-card-subtitle>
      </ion-card-header>

      <ion-button class="btn-beranda" fill="clear">
        <ion-icon class="icon-beranda" slot="start" name="desktop"></ion-icon>
        <small class="text-beranda">Kabar Beranda</small>
      </ion-button>

      <ion-button class="btn-media" fill="start">
        <ion-icon class="icon-media" slot="start" name="logo-youtube"></ion-icon>
        <small class="text-media">Media</small>
      </ion-button>

      <ion-button class="btn-user-time" fill="clear">
        <ion-icon class="icon-user-time" slot="start" name="timer"></ion-icon>
        <small class="text-user-time">Waktu Anda di Tajuk Plus</small>
      </ion-button>

      <ion-button class="btn-mode" fill="clear">
        <ion-icon class="icon-mode" slot="start" name="moon"></ion-icon>
        <small class="text-mode">Mode Gelap</small>
      </ion-button>
    </ion-card><br>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">Izin</ion-card-title>
        <ion-card-subtitle class="card-subtitle">Kelola info yang digunakan Tajuk Plus untuk menjadikan pengalaman Anda lebih baik, seperti minat dan lokasi Anda.</ion-card-subtitle>
      </ion-card-header>

      <ion-button class="btn-preferensi" fill="clear">
        <ion-icon class="icon-preferensi" slot="start" name="film"></ion-icon>
        <small class="text-preferensi">Prefrensi Iklan</small>
      </ion-button>

      <ion-button class="btn-lokasi" fill="clear">
        <ion-icon class="icon-lokasi" slot="start" name="locate"></ion-icon>
        <small class="text-lokasi">Lokasi</small>
      </ion-button>

      <ion-button class="btn-work"  fill="clear">
        <ion-icon class="icon-work" slot="start" name="wallet-sharp"></ion-icon>
        <small class="text-work">Lowongan kerja / Recruitment</small>
      </ion-button>
    </ion-card><br>

    <ion-card>
      <ion-card-header >
        <ion-card-title class="card-title">Standar Komunitas dan Kebijakan Hukum</ion-card-title>
        <ion-card-subtitle class="card-subtitle">Berbagai ketentuan-ketentuan dan kebijakan di dalam Aplikasi Tajuk Plus</ion-card-subtitle>
      </ion-card-header>
      
      <ion-button class="btn-ketentuan" fill="clear">
        <ion-icon class="icon-ketentuan" slot="start" name="reader-sharp"></ion-icon>
        <small class="text-ketentuan"> Ketentuan Layanan</small>
      </ion-button>

      <ion-button class="btn-kebijakan-data" fill="clear">
        <ion-icon class="icon-kebijakan-data" slot="start" name="server-sharp"></ion-icon>
        <small class="text-kebijakan-data"> Kebijakan Data</small>
      </ion-button>

      <ion-button class="btn-kebijakan-cookie" fill="clear">
        <ion-icon class="icon-kebijakan-cookie" slot="start" name="code-sharp"></ion-icon>
        <small class="text-kebijakan-cookie"> Kebijakan Cookie</small>
      </ion-button>

      <ion-button class="btn-standar-komunitas" fill="clear">
        <ion-icon class="icon-standar-komunitas" slot="start" name="checkmark-circle-sharp"></ion-icon>
        <small class="text-standar-komunitas"> Standar Komunitas</small>
      </ion-button>

      <ion-button class="btn-tentang" fill="clear">
        <ion-icon class="icon-tentang" slot="start" name="information-circle-sharp"></ion-icon>
        <small class="text-tentang">Tentang</small>
      </ion-button>

    </ion-card><br>

  </ion-toolbar>

</ion-content>
