<ion-content>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-button color="primary" (click)="btnClicked" routerLink="home">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<div class="padding"> 
  <ion-card-title class="title">Privacy Policy</ion-card-title>
  <ion-card-subtitle class="subtitle">Tajuk Plus respects the privacy of the personal information and your data and will ensure compliance by its staff to the strictest standards of security and confidentiality in respect of all personal information and data submitted by you via the Site and Tajuk Plus will not, subject to the terms herein, release such information to anyone without your prior consent (whether registered or not)..</ion-card-subtitle>
  <ion-card-subtitle class="subtitle-desc">You are strongly recommended to read this privacy statement (“Privacy Statement”) carefully to have an understanding of Tajuk Plus policy and practices with regard to the treatment of personal information and data provided by Users on the Site. This Privacy Statement is applicable to both registered and unregistered Users, and the terms herein may be updated, revised, varied and/or amended from time to time as Tajuk Plus may deem necessary and/or appropriate.</ion-card-subtitle>
  <ion-card-subtitle class="title-1">Retention of Personal Data.</ion-card-subtitle>
  <ion-card-subtitle class="subtitle-desc">Once Tajuk Plus has obtained your personal information and/or data, it will be maintained securely in Tajuk Plus system for the period necessary to fulfill the purposes for which the data was collected as set out under the section headed “Purpose of Collection of Personal Data”. Once registered, you may terminate your membership of the Site by contacting Tajuk Plus using the contact details under the section headed “Enquiries”. Tajuk Plus may retain your personal information even after you have closed your account if retention is reasonably necessary to comply with our legal obligations, meet regulatory requirements, resolve disputes between Users, prevent fraud and abuse, or enforce this Privacy Statement and the Terms and Conditions.</ion-card-subtitle>
  <ion-card-subtitle class="title-1">Changes in this Privacy Statement.</ion-card-subtitle>
  <ion-card-subtitle class="subtitle-desc">Tajuk Plus reserves the right to update, revise, modify or amend this Privacy Statement at any time as Tajuk Plus deems necessary, so you are strongly recommended to review this Privacy Statement frequently. If Tajuk Plus decides to update, revise, modify or amend this Privacy Statement, Tajuk Plus will post those changes to this webpage and/or other places as Tajuk Plus deems appropriate, so that you would be aware of what information Tajuk Plus collects, how Tajuk Plus uses it, and under what circumstances, if any, Tajuk Plus discloses it.</ion-card-subtitle>
  <ion-card-subtitle class="subtitle-desc">If Tajuk Plus makes material changes to this Privacy Statement, Tajuk Plus will notify you on this Apps, by email, or by means of a notice on the home page of Tajuk Plus.</ion-card-subtitle>
  <ion-card-subtitle class="title-1">Enquiries.</ion-card-subtitle>
  <ion-card-subtitle class="subtitle-desc">Should you have any enquiries relating to this Privacy Statement, please contact us through the chat facilities available on the Site or email Tajuk Plus  or write to us at the following address</ion-card-subtitle>
</div>


</ion-content>
