ion-icon {
    width: 100%;
    color: black;
}

.title{
    font-size: 20px;
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;
    font-weight: bold;
    color: black;
    font-family: Poppins, "Helectiva Neue", Arial, Helvetica, sans-serif;
}

.subtitle{
    font-size: 14px;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    font-weight: normal;
    color: black;
    text-align: justify;
    text-justify: inter-word;
    font-family: Poppins, "Helectiva Neue", Arial, Helvetica, sans-serif;
}

.subtitle-desc{
    font-size: 14px;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    font-weight: normal;
    color: black;
    text-align: justify;
    text-justify: inter-word;
    font-family: Poppins, "Helectiva Neue", Arial, Helvetica, sans-serif;
}

.title-1{
    font-size: 16px;
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;
    font-weight: bold;
    color: black;
    font-family: Poppins, "Helectiva Neue", Arial, Helvetica, sans-serif;
}

