<ion-content>
  <ion-header>
    <ion-toolbar class="header-section">
      <ion-buttons slot="start">
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button class="navigation" href="/">Group Diikuti</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="content-section">
    <ion-card class="profil-card">
      <ion-grid>
        <ion-row>
          <ion-col class="image-group">
            <img src="assets/images/followinggroup/group1.jpg"/>
          </ion-col>
          <ion-col class="content-group">
            <ion-row>
              <ion-label class="group-name">Group B</ion-label>
            </ion-row>
            <ion-row>
              <ion-label class="group-desc">Penjual Bendera Gigit Jari Akibat Pandemi, Omzet Turun 50 Persen.</ion-label>
            </ion-row>
          </ion-col>
          <ion-col class="delete-profil">
            <ion-anchor class="delete-group" (click)="btnClick()">Keluar</ion-anchor>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  <ion-card class="profil-card-1">
    <ion-grid>
      <ion-row>
        <ion-col class="image-group">
          <img src="assets/images/followinggroup/group1.jpg"/>
        </ion-col>
        <ion-col class="content-group">
          <ion-row>
            <ion-label class="group-name">Group B</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="group-desc">Disuksi tentang vaksinasi Covid 19 di indonesia harus merata di jawa sebanyak 85% warga Indonesia di vaksin.</ion-label>
          </ion-row>
        </ion-col>
        <ion-col class="delete-profil">
          <ion-anchor class="delete-group" (click)="btnClick()">Keluar</ion-anchor>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="profil-card-2">
    <ion-grid>
      <ion-row>
        <ion-col class="image-group">
          <img src="assets/images/followinggroup/group1.jpg"/>
        </ion-col>
        <ion-col class="content-group">
          <ion-row>
            <ion-label class="group-name">Group C</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="group-desc">Obat obat terakit covid 19 agar disebar di daerah daerah luar jawa dan ibukota.</ion-label>
          </ion-row>
        </ion-col>
        <ion-col class="delete-profil">
          <ion-anchor class="delete-group" (click)="btnClick()">Keluar</ion-anchor>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="profil-card-3">
    <ion-grid>
      <ion-row>
        <ion-col class="image-group">
          <img src="assets/images/followinggroup/group1.jpg"/>
        </ion-col>
        <ion-col class="content-group">
          <ion-row>
            <ion-label class="group-name">Group D</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="group-desc">Hasil Penyelidikan WHO soal Virus Corona: Bukan dari Kebocoran Lab.</ion-label>
          </ion-row>
        </ion-col>
        <ion-col class="delete-profil">
          <ion-anchor class="delete-group" (click)="btnClick()">Keluar</ion-anchor>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="profil-card-4">
    <ion-grid>
      <ion-row>
        <ion-col class="image-group">
          <img src="assets/images/followinggroup/group1.jpg"/>
        </ion-col>
        <ion-col class="content-group">
          <ion-row>
            <ion-label class="group-name">Group E</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="group-desc">Naik Atau Turun? Ini Rincian Harga Emas Antam 13 Agustus 2021.</ion-label>
          </ion-row>
        </ion-col>
        <ion-col class="delete-profil">
          <ion-anchor class="delete-group" (click)="btnClick()">Keluar</ion-anchor>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  </div>
</ion-content>
