.header-section{
    width: 100%;
    height: 10%;
}

.searchbar{
    padding-top: 3%;
    margin-bottom: 8%;
    max-width: 92%;
    border-radius: 25px;
    background-position: left 8px center;
    height: 190%;
    font-size: 1.1rem;
    font-weight: 400;
    color: #7f8490; 
    
}

.tag-division{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 2%;

}

.tag-btn-division-general{
    text-transform: capitalize;
    --border-radius: 45px 45px 45px 45px;
   }


.tag-btn-division-general:hover{
    color: white;   
    transition: all 300ms ease-in-out;
    --background: linear-gradient(to bottom left, #3DBDCF, #55BF30);
   }

.tag-btn-division-general{
    --background:none;
    color: black;
    text-transform: capitalize;
    --border-radius: 45px 45px 45px 45px;
   }

ion-tabs {
    height: fit-content;
    position: fixed;
    top: calc(100vh - 56px);
    bottom: 0;
}

ion-tab-bar {
    border-radius: 40px 40px 0px 0px;
    box-shadow: 0px 1px 5px 2px rgba(1, 1, 1, 0.1);
    height: 56px;
    bottom: 0;
}

.label-tab-bar {
    font-size: 10px;
    font-weight: bold;
}

.profil-card{
    margin-top: 0%;
    margin-bottom: 4%;
    border-radius: 18px 18px 18px 18px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

ion-chip{
    --background: linear-gradient(to bottom left, #3DBDCF, #55BF30);  
    color: white;
    max-width: 30%;
    max-height: 15%;
}

.category{
    margin-top: 2%;
}

.name-user{
    font-size: 16px;
    font-weight: bold;
}

.location-user{
    font-size: 12px;
    padding-top: 1%;
}

.desc-user{
    font-size: 15px;
    font-weight: bold;
    padding-top: 1%;
}

.date-user{
    font-size: 13px;
    padding-top: 1%;
}
ion-tabs {
    height: fit-content;
    position: fixed;
    top: calc(100vh - 56px);
    top: 85%;
}

ion-tab-bar {
    border-radius: 40px 40px 0px 0px;
    box-shadow: 0px 1px 5px 2px rgba(1, 1, 1, 0.1);
    height: 56px;
    bottom: 0;
}

.label-tab-bar {
    font-size: 8px;
}