<ion-content>

  <ion-header class="header-section">
      <center> <ion-searchbar placeholder="Cari" color="secondary" showCancelButton="focus" class="searchbar">
      </ion-searchbar></center>
  </ion-header>

  <ion-segment scrollable class="tag-division">
    <ion-button tab="1" class="tag-btn-division-all">Semua</ion-button>
    <ion-button tab="2" class="tag-btn-division-general">Software Engineering</ion-button>
    <ion-button tab="3" class="tag-btn-division-general">Design</ion-button>
    <ion-button tab="4" class="tag-btn-division-general">Operations</ion-button>
    <ion-button tab="5" class="tag-btn-division-general">Manager</ion-button>
    <ion-button tab="6" class="tag-btn-division-general">Education</ion-button>
    <ion-button tab="7" class="tag-btn-division-general">Management</ion-button>
    <ion-button tab="8" class="tag-btn-division-general">Hospitality and travel</ion-button>
    <ion-button tab="9" class="tag-btn-division-general">Development / Sales</ion-button>
    <ion-button tab="10" class="tag-btn-division-general">Other</ion-button>
  </ion-segment><br>

    <ion-card class="profil-card">
      <ion-grid>
        <ion-row>
          <ion-col class="recruitment-user">
            
            <ion-row>
              <ion-label class="name-user"> Andy Setiawan</ion-label>
            </ion-row>

            <ion-chip class="category"> 
              <ion-label>Design</ion-label>
            </ion-chip>

            <ion-row>
              <ion-label class="location-user">Jakarta Utara, Indonesia</ion-label>
            </ion-row>

            <ion-row>
              <ion-label class="desc-user">Rp. 8.000.000.</ion-label>
            </ion-row>

            <ion-row>
              <ion-label class="date-user">17 Agustus 2021</ion-label>
            </ion-row>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="profil-card">
      <ion-grid>
        <ion-row>
          <ion-col class="recruitment-user">
            
            <ion-row>
              <ion-label class="name-user"> Rahmat Mulya</ion-label>
            </ion-row>

            <ion-chip class="category"> 
              <ion-label>Management</ion-label>
            </ion-chip>

            <ion-row>
              <ion-label class="location-user">Jakarta Utara, Indonesia</ion-label>
            </ion-row>

            <ion-row>
              <ion-label class="desc-user">Rp. 12.000.000.</ion-label>
            </ion-row>

            <ion-row>
              <ion-label class="date-user">17 Agustus 2021</ion-label>
            </ion-row>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="profil-card">
      <ion-grid>
        <ion-row>
          <ion-col class="recruitment-user">
          
            <ion-row>
              <ion-label class="name-user"> Melda Setiawati</ion-label>
            </ion-row>

            <ion-chip class="category"> 
              <ion-label>Operations</ion-label>
            </ion-chip>

            <ion-row>
              <ion-label class="location-user">Jakarta Utara, Indonesia</ion-label>
            </ion-row>

            <ion-row>
              <ion-label class="desc-user">Rp. 18.000.000.</ion-label>
            </ion-row>

            <ion-row>
              <ion-label class="date-user">20 Agustus 2021</ion-label>
            </ion-row>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="profil-card">
      <ion-grid>
        <ion-row>
          <ion-col class="recruitment-user">
            
            <ion-row>
              <ion-label class="name-user"> Bagus Saputra</ion-label>
            </ion-row>

            <ion-chip class="category"> 
              <ion-label>Marketing</ion-label>
            </ion-chip>

            <ion-row>
              <ion-label class="location-user">Jakarta Utara, Indonesia</ion-label>
            </ion-row>

            <ion-row>
              <ion-label class="desc-user">Rp. 5.000.000.</ion-label>
            </ion-row>

            <ion-row>
              <ion-label class="date-user">22 Agustus 2021</ion-label>
            </ion-row>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="profil-card">
      <ion-grid>
        <ion-row>
          <ion-col class="recruitment-user">
            
            <ion-row>
              <ion-label class="name-user"> Erick Saputra</ion-label>
            </ion-row>

            <ion-chip class="category"> 
              <ion-label>Manager</ion-label>
            </ion-chip>

            <ion-row>
              <ion-label class="location-user">Jakarta Utara, Indonesia</ion-label>
            </ion-row>

            <ion-row>
              <ion-label class="desc-user">Rp. 15.000.000.</ion-label>
            </ion-row>

            <ion-row>
              <ion-label class="date-user">24 Agustus 2021</ion-label>
            </ion-row>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="profil-card">
      <ion-grid>
        <ion-row>
          <ion-col class="recruitment-user">
            
            <ion-row>
              <ion-label class="name-user"> Dava Yulis</ion-label>
            </ion-row>

            <ion-chip class="category"> 
              <ion-label>Marketing</ion-label>
            </ion-chip>

            <ion-row>
              <ion-label class="location-user">Jakarta Utara, Indonesia</ion-label>
            </ion-row>

            <ion-row>
              <ion-label class="desc-user">Rp. 5.000.000.</ion-label>
            </ion-row>

            <ion-row>
              <ion-label class="date-user">21 Agustus 2021</ion-label>
            </ion-row>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="riwayat-lamaran">
        <ion-icon name="home"></ion-icon>
        <ion-label class="label-tab-bar">Beranda</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="video">
        <ion-icon name="videocam"></ion-icon>
        <ion-label class="label-tab-bar">Video</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="recruitment">
        <ion-icon name="icon-elearning-active"></ion-icon>
        <ion-label class="label-tab-bar">Recruitment</ion-label>
      </ion-tab-button> 
      <ion-tab-button tab="chat">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label class="label-tab-bar">Chat</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profil">
        <ion-icon name="man-outline"></ion-icon>
        <ion-label class="label-tab-bar">Profil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
