p {
    margin-left: 20px;
  }
  
  ion-icon {
    color: black;
    width: 100%;
  }
  
  .navigation {
    font-size: 20px;
    --color: black;
    text-transform: capitalize;
  }
  
  ion-toggle{
  
    --handle-background: grey;
    --handle-background-checked: #00bfa5;
    --handle-box-shadow: -4px 2px 4px 42px #b2dfdb;


    border-radius: 15px;
    max-width: 40px;
    //--handle-box-shadow: 10px 16px 40px 42px linear-gradient(white, white); 
  }
  
  .notifikasi-border{
    margin-top: 6px;
    margin-left: 4%;
    background-image: linear-gradient(#3DBDCF, #55BF30);
    height: 1.5px;
    width: 14%;
    margin-bottom: 2%;
  }
  
  .umum-border{
    margin-top: 6px;
    margin-left: 4%;
    background-image: linear-gradient(#3DBDCF, #55BF30);
    height: 1.5px;
    width: 14%; 
    margin-bottom: 2%;
  }
  
  .notifikasi-terbaru-title{
    margin-left: 3.5%;
    font-size: 15px;
    font-weight: 700;
  
  }
  
  .umum-title{
    margin-left: 3.5%;
    font-size: 15px;
    font-weight: 700;
  }
  