<ion-header class="ion-no-border">
  <ion-toolbar class="header-section">
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>

      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button class="navigation" href="">Bantuan</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <center> <ion-searchbar placeholder="Temukan Solusi Anda"  showCancelButton="focus" class="searchbar">
    </ion-searchbar></center>
  </div>
  <div class="content-section">
    <ion-label class="yang-ditanyakan-title">
      Yang sering ditanyakan
    </ion-label>
      <ion-list>
        <ion-item class="data-description">Apakah Prospek Karier Programmer Menjanjikan?</ion-item>
        <ion-item class="data-description" >Penting untuk Data Scientist, Ketahui apa saja fungsi fungsinya.</ion-item>
        <ion-item class="data-description" >Apakah jawaban tepat untuk alasan melamar pekerjaan ?</ion-item>
        <ion-item class="data-description" >Strategi menjawab pertanyaan: "Mengapa anda ingin bekerja di perusahaan kami?" ?</ion-item>
        <ion-item class="data-description" >Apa saja lowongan kerja yang tersedia di Tajuk Plus ?</ion-item>
        <ion-item class="data-description" >Apa saja syarat & ketentuan yang ada di dalam sebuah App ?</ion-item>
        <ion-item class="data-description" >Berapa kira kira gaji yang cukup / kompeten di bidang Programmer?</ion-item>
      </ion-list><br>

    <ion-label class="yang-ditanyakan-title">
      Hubungi Kami

    </ion-label>
    <div class="img-qrcode">
      <left><img  class="img-data" src="assets/icon/email.JPG"> </left>
      <ion-col class="data-user">
        <ion-row>
          <ion-label class="name-user">
            johndoe@gmail.com

          </ion-label>
          <ion-nav-buttons>
            <ion-icon class="button-right" side="right" color="black" name="chevron-forward-outline"></ion-icon>
        </ion-nav-buttons>
        </ion-row>
      </ion-col>
    </div>

    <div class="img-qrcode">
      <left><img  class="img-data-1" src="assets/icon/call.JPG"> </left>
      <ion-col class="data-user">
        <ion-row>
          <ion-label class="call-user">
            (021) 3456789
          </ion-label>
          <ion-nav-buttons>
            <ion-icon class="button-right-1" side="right" color="black" name="chevron-forward-outline"></ion-icon>
        </ion-nav-buttons>
        </ion-row>
      </ion-col>
    </div>

    <div class="img-qrcode">
      <left><img  class="img-data-2" src="assets/icon/facebook.JPG"> </left>
      <ion-col class="data-user">
        <ion-row>
          <ion-label class="call-user1">
          johndoe
          </ion-label>
          <ion-nav-buttons>
            <ion-icon class="button-right-2" side="right" color="black" name="chevron-forward-outline"></ion-icon>
        </ion-nav-buttons>
        </ion-row>
        </ion-col>
    </div>
  </div>
</ion-content>


  <script>
    const searchbar = document.querySelector('ion-searchbar');
    const items = Array.from(document.querySelector('ion-list').children);
    searchbar.addEventListener('ionInput', handleInput);
    function handleInput(event) {
      const query = event.target.value.toLowerCase();
      requestAnimationFrame(() => {
        items.forEach(item => {
          const shouldShow = item.textContent.toLowerCase().indexOf(query) > 1;
          item.style.display = shouldShow ? 'block' : 'none';
        });
      });
    }
  </script>
