ion-icon {
    color: white;
    width: 100%;
  }
  ion-content {
    z-index: 1;
    position: absolute;
    --background: rgba(1, 1, 1, 0);
  }
  .header-section {
    --background: linear-gradient(to bottom left, #3DBDCF, #55BF30);
    padding-bottom: 60%;
    z-index: 1;
  }
  ion-content {
    z-index: 10;
    position: absolute;
    --background: rgba(1,1,1,0);
  }
  .navigation {
    font-size: 20px;
    --color: white;
    text-transform: capitalize;
  }

  ion-searchbar{  
   width: 80%;
   font-size: 15px;
   transform: scaleY(1);
   transform: scalex(1);
   border-radius: 105px;
  }

  .searchbar{
    margin-top: 17%;
    max-width: 90%;
    border-radius: 105px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.1rem;
    font-weight: 400;
    color: #7f8490;
    -webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1) !important;
    
  }
  
  .content-section {
    margin-top: 10%;
    background-color: white;
    width: 100%;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 50px 50px 0px 0px;
  }
  .label{
    font-size: 10px;
    text-transform: capitalize;
  }
  
  .data-description{
    font-size: 12px ;
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
  }
  
  
  .yang-ditanyakan-title{
    font-size: 15px;
    font-weight: 600;
    margin-left: 4%;
  }
  
  .img-data{
      float: left;
      padding-top: 1.5%;
      padding-left: 5%;
      margin-left: 0%;
      margin-right: 0%;
  
  }

  .img-data-1{
    float: left;
    padding-top: 1.5%;
    padding-left: 5%;
    margin-left: 0%;
    margin-right: 0%;

}

  .img-data-2{
    float: left;
    padding-top: 1.5%;
    padding-left: 0%;
    margin-left: -9%;
    margin-right: 0%;

  }

  
  .button-right{
    bottom: 1px;
    margin-left: 179px;
    margin-right: 0px;
    width: 150%;
    height: 170%;
  }

  .button-right-1{
    bottom: 1px;
    margin-left: 200px;
    margin-right: 0px;
    width: 150%;
    height: 170%;
  }

  .button-right-2{
    bottom: 1px;
    margin-left: 220px;
    margin-right: 0px;
    width: 150%;
    height: 170%;
  }

  .card-section{
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .call.user1{
    float: right;
  }
  
  .name.user{
      float: right;
  }
  
  .call.user{
      float: right;
  }
  .facebook.user{
      float: right;
  }
  
  .data-user{
       font-size: smaller;
       margin-left: 0%;
       margin-right: 0%;
  }
  