<head>
  <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">  
</head>
<ion-content>
  <ion-header>
    <ion-toolbar class="header-section">
      <ion-buttons slot="start">
        <ion-button color="primary" (click)="btnClicked()">
          <ion-icon size="large" slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button class="navigation" href="/">Ubah Rekening</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  

  <div class="content-section">
    
  <ion-card class="profil-card">
    <ion-grid>
      <ion-row>
        <ion-col class="bank-user">
          <ion-row>
            <ion-label class="bank-anda">Bank Anda</ion-label>
          </ion-row>
          <br>
          <ion-row>
            <ion-label class="bank-name">BCA</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="rekening-bank">12345678910</ion-label>
          </ion-row>
          <ion-row>
          <ion-label class="name-user">John Doe</ion-label>
        </ion-row>
        </ion-col>
        <ion-icon name="money-bill-wave-alt-solid" class="image-money"></ion-icon>
      </ion-row>
    </ion-grid>
  </ion-card>
  <br>
     <form [formGroup]="changeUser" (ngSubmit)="changeForm()" novalidate>
            <ion-label class="informasi-data-title">Data Bank</ion-label>
            <div class="informasi-data-border"></div>
            <br>
          <ion-input  type="text" formControlName="nama_pemilik_bank" placeholder="Nama Pemilik Bank"></ion-input>
          <ion-input type="text" formControlName="rekening_bank" placeholder="No Rekening Bank"></ion-input>
          <ion-select  class="input-user" formControlName="jenis_bank" placeholder="Nama Bank" interface="action-sheet">
            <ion-select-option value="nes">BCA</ion-select-option>
            <ion-select-option value="n64">BNI</ion-select-option>
            <ion-select-option value="ps">Mandiri</ion-select-option>
            <ion-select-option value="genesis">BTN</ion-select-option>
            <ion-select-option value="saturn"> BRI</ion-select-option>
            <ion-select-option value="snes">Bukopin</ion-select-option>
            <br><br>
          </ion-select>
          <br><br>
          <ion-select class="input-kota" formControlName="kota" placeholder="Pilih Kota" (click)="loadCities()">
            <ion-select-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</ion-select-option>
        </ion-select>
        <ion-select formControlName="kecamatan" placeholder="Pilih Kecamatan" (click)="loadDistricts()">
          <ion-select-option *ngFor="let district of districts" value="{{district.id}}">{{district.name}}</ion-select-option>
      </ion-select>
      <br>
      <ion-button type="submit" class="btn-ubh-profil" expand="block">Ubah Profil</ion-button>
    </form>  
  </div>
</ion-content>
