<ion-content padding fixed>
  <ion-header>
    <ion-toolbar class="header-section">
      <ion-buttons slot="start">
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button class="navigation">News</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-card class="like-news"  (click)="openDetailNews(news)">

    <div class="news-img">
      <img src="assets/images/news/news_1.jpg" class="img-news">
    </div>

    <ion-card-content>
      <p class="news-title"> {{news.title}}Ada Gunung Emas Raksasa di Dekat Grasberg, Kok Malah Ditinggal Freeport?</p>
      <p class="news-content">{{news.content}} Bukan hanya Grasberg, masih ada wilayah lain yang kaya akan emas di Papua, yaitu Blok Wabu di Kabupaten Intan Jaya. Lokasinya berjarak 40 kilometer di sebelah utara Grasberg. Dulunya, Blok Wabu masuk dalam wilayah
         tambang PT Freeport Indonesia berdasarkan Kontrak Karya (KK) yang ditandatangani pada 1991...</p>
        <ion-anchor (click)="btnClick()">Tambah Favorit</ion-anchor>
    </ion-card-content>

  </ion-card>

  <ion-card class="like-news"  (click)="openDetailNews(news)">
    
    <div class="news-img">
      <img src="assets/images/news/news_2.jpg" class="img-news">
    </div>

    <ion-card-content>
      <p class="news-title"> {{news.title}} Viral Telemarketing Alodokter Autodebet Dana Asuransi dan Sulit Dibatalkan</p>
      <p class="news-content">{{news.content}}Aplikasi Alodokter jadi sorotan netizen pada awal pekan ini. Sejumlah pengguna mengaku kaget rekening bank mereka terpotong, karena autodebet layanan asuransi yang ditawarkan telemarketing Alodokter....</p>
        <ion-anchor (click)="btnClick()">Tambah Favorit</ion-anchor>
    </ion-card-content>

  </ion-card>


   

   

  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="beranda" (click)="beranda()" >
        <ion-icon name="tab-beranda-active" ></ion-icon>
        <ion-label class="label-tab-bar">Beranda</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="video">
        <ion-icon name="tab-video-inactive"></ion-icon>
        <ion-label class="label-tab-bar">Video</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="bookmarks" (click)="bookmarks()">
        <ion-icon name="tab-recruitment-inactive"></ion-icon>
        <ion-label class="label-tab-bar">Favorite News</ion-label>
      </ion-tab-button> 
      <ion-tab-button tab="chat">
        <ion-icon name="tab-chat-inactive"></ion-icon>
        <ion-label class="label-tab-bar">Chat</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profil" (click)="newsDetail()">
        <ion-icon name="berita-detail"></ion-icon>
        <ion-label class="label-tab-bar">News Detail</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>
