<ion-header class="ion-no-border">
  <ion-toolbar class="header-section">
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon size="large"slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  
    <ion-buttons slot="start">
      <ion-button  class="navigation" href="/">Syarat & Ketentuan</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-toolbar class="content-section-toolbar">
    <img src="assets/logo/logo.png" class="img-logo">
    <h1 class="text-main"> Fitur untuk membantu Anda mengontrol privasi dan kemanan Anda di Tajuk Plus</h1>

    <ion-card>
    <img src="assets/images/syaratketentuan/data8.jpg" class="img-privasi">
    <ion-card-header>
      <ion-card-title class="card-title">Privasi</ion-card-title>
      <ion-card-subtitle class="card-subtitle">Kendalikan siapa yang melihat apa yang anda bagikan di Tajuk Plus, dan kelola data yang membantu kami mempersonalisai privasi Anda.</ion-card-subtitle>
    </ion-card-header>
    <ion-button class="btn-privasi" fill="clear">
      <ion-icon class="icon-privasi"slot="start" name="build-outline"></ion-icon>
      <small class="text-btn">Tinjau beberapa pengaturan privasi penting</small>
    </ion-button>

    <ion-button class="btn-privasi-1" fill="clear">
      <ion-icon class="icon-privasi-1"slot="start" name="shield-half-outline"></ion-icon>
      <small class="text-btn-1">Pelajari tentang privasi Anda di Tajuk Plus</small>
    </ion-button>

    <ion-button class="btn-privasi-2" fill="clear">
      <ion-icon class="icon-privasi-2"slot="start" name="location-outline"></ion-icon>
      <small class="text-btn-2">Kelola pengaturan lokasi Anda di Aplikasi</small>
    </ion-button>

    </ion-card> <br> 

    <ion-card>
      <img src="assets/images/syaratketentuan/data9.jpg" class="img-keamananakun">
    <ion-card-header>
      <ion-card-title class="card-title">Keamanan Akun</ion-card-title>
      <ion-card-subtitle class="card-subtitle">Pelajari cara kerja Aplikasi Tajuk Plus dan bagaimana aplikasi melakukan interaksi dengan user yang anda lihat dan lebih relevan.</ion-card-subtitle>
    </ion-card-header>

    <ion-button class="btn-akun" fill="clear">
      <ion-icon class="icon-akun"slot="start" name="person-outline"></ion-icon>
      <small class="text-btn-akun">Perbarui informasi pribadi Anda</small>
    </ion-button>

    <ion-button class="btn-akun-1" fill="clear">
      <ion-icon class="icon-akun-1"slot="start" name="speedometer-outline"></ion-icon>
      <small class="text-btn-akun-1">Back Up data Account Anda</small>
    </ion-button>

    <ion-button class="btn-akun-2" fill="clear">
      <ion-icon class="icon-akun-2"slot="start" name="key-outline"></ion-icon>
      <small class="text-btn-akun-2">Gunakan Autentikasi dua-faktor</small>
    </ion-button>

    </ion-card> <br>


    <ion-card>
      <img src="assets/images/syaratketentuan/data10.jpg" class="img-apps">

    <ion-card-header>
      <ion-card-title class="card-title"> Informasi Tajuk Plus Anda</ion-card-title>
      <ion-card-subtitle class="card-subtitle"> Lihat video terbaru / terupdate, informasi berita terbaru / terupdate dan info lowongan kerja Anda Kapan Saja.</ion-card-subtitle>
     </ion-card-header>

     <ion-button class="btn-info" fill="clear">
      <ion-icon class="icon-info"slot="start" name="information-circle-outline"></ion-icon>
      <small class="text-btn-info">Akses informasi Anda</small>
    </ion-button>

    <ion-button class="btn-info-1" fill="clear">
      <ion-icon class="icon-info-1"slot="start" name="settings-outline"></ion-icon>
      <small class="text-btn-info-1">Kelola informasi Anda</small>
    </ion-button>

    <ion-button class="btn-info-2" fill="clear">
      <ion-icon class="icon-info-2"slot="start" name="shield-checkmark-outline"></ion-icon>
      <small class="text-btn-info-2">Hapus akun dan informasi Anda</small>
    </ion-button>
    </ion-card>


  </ion-toolbar>
</ion-content>
