<ion-header>
  <ion-toolbar class="header-section">
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button class="navigation" href="/">Detail News</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-section">
    <center>
      <img src="assets/icon/news/news7.jpeg" class="data-img-bckgrnd">
    </center>
  </div>

  <ion-chip class="topic">
    <ion-label>Covid 19</ion-label>
  </ion-chip>

  <p class="title-news">Menanti Nasib PPKM Level 4 Usai Evaluasi Hati-Hati</p>

  <div class="section-profil-img">
    <img src="assets/icon/news/profil.jpg " class="img-profil">
    <p class="profil-image">Vidya Nathania</p>
    <h1 class="content-time">10 Menit yang Lalu
      <ion-icon class="icon-share" name="share" isActive="false"></ion-icon> 
      <ion-icon class="icon-eye" name="eye" isActive="false"></ion-icon> 
      <ion-icon class="icon-heart" name="heart" isActive="false"></ion-icon>
      <ion-icon class="icon-chat" name="chatbubbles" isActive="false"></ion-icon>
    </h1>
  </div>
</ion-content>
