ion-content {
    z-index: 1;
    position: absolute;
    height: calc(100vh - 56px);
    --background: rgba(1, 1, 1, 0);
}

.header-section {
    border-radius: 0px 0px 90px 90px;
    background: linear-gradient(#3DBDCF, #55BF30);
    padding-bottom: 17%;
    position: absolute;
    width: 100%;
    top: 0;
}

ion-img {
    width: 20%;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.profile-card {
    width: 72%;
    margin-top: 17%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(78, 78, 78, 0.5);
}

ion-row {
    margin-top: 3px;
    margin-left: auto;
}

img {
    margin: 5px 5px 5px 0px;
    border-radius: 50px;
    height: auto;
    width: auto;
}

.col-left {
      max-width: 25%;
      padding: 0px;
}

.col-mid {
      max-width: 50%;
      overflow: hidden;
      white-space: nowrap;
      padding: 0px;
}

.col-right {
      max-width: 25%;
      padding: 0px;
}
  
.cardpro-name {
    font-weight: 700;
    font-size: 14px;
    margin: 6px 0 2px 6px;
    text-transform: capitalize;
}

.cardpro-email {
    font-size: 11px;
    margin: 0 0 2px 6px;
}

.cardpro-phone {
    font-size: 10px;
    margin: 0 0 0 6px;
}

.cardpro-job {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    margin-top: 10px;
    right: 5px;
    color: #818181;
}

.info-card {
    margin-top: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    background-color: #6fd3c2;
    border-radius: 10px;
    margin-bottom: 0px;
}

.bg-cardinfo {
    position: absolute;
    transform: rotate(10deg);
    font-size: 6em;
    bottom: 0;
    right: 0;
    margin-bottom: -20px;
    margin-right: -20px;
    color: white;
    opacity: 0.3;
    z-index: initial;
}

.cardinfo-title {
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
    display: block;
}

.cardinfo-desc {
    font-size: 12px;
    color: white;
    margin-bottom: 5px;
    display: block;
}

.cardinfo-close {
    position: absolute;
    right: 3px;
    top: 0px;
    color: white;
}

.segment-wrapper {
    padding: 0 5px 0 5px;
    margin-bottom: 20px;
}

.btn-segment {
    color: #333;
    display: grid;
    height: 70px;
}

.segment-icon1 {
    font-size: 55px;
}

.segment-icon2 {
    font-size: 40px;
}

.segment-icon3 {
    font-size: 45px;
}

.btn-segment > ion-icon {
    position: absolute;
}

.btn-segment > ion-label {
    position: relative;
    top: 30px;
}

.segment-label {
    font-size: 10px;
    text-transform: capitalize;
}

.newspaper-title {
    margin-left: 7%;
    font-size: 15px;
    font-weight: 700;
}

.newspaper-borderline {
    margin-top: 2px;
    margin-left: 7%;
    background-color: #3DBDCF;
    height: 3px;
    width: 8%;
}

.tag-wrapper {
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    position: relative;
    align-items: stretch;
    overflow-x: scroll;
}

.tag-btn {
    color: #7a7a7a;
    --background: white;
    text-transform: capitalize;
    font-size: 12px;
    min-width: 105px;
    height: 30px;
    padding: 0 0 0 15px;
    --border-radius: 8px;
    --box-shadow: 0px 0px 8px -4px rgba(2,2,2,0.7);
}

.art-card {
    display: inline-flex;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: none;
    background-color: rgba(1, 1, 1, 0);
}

.art-img-wrapper {
    overflow: hidden;
    min-width: 45%;
    max-width: 45%;
    margin: 4px 0 0 0;
}

.art-img {
    height: 125px;
    width: 100%;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin: 0px;
    object-fit: cover;
}

.art-card > ion-card-content {
    padding: 10px 10px 10px 0;
}

.art-text-title {
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.art-text-content {
    font-size: 11px;
    text-align: justify;
    text-justify: inter-word;
}

ion-tabs {
    height: fit-content;
    position: fixed;
    top: calc(100vh - 56px);
    bottom: 0;
}

ion-tab-bar {
    border-radius: 40px 40px 0px 0px;
    box-shadow: 0px 1px 5px 2px rgba(1, 1, 1, 0.1);
    height: 56px;
    bottom: 0;
}

.label-tab-bar {
    font-size: 8px;
}