<ion-header class="ion-no-border">
  <ion-toolbar class="header-section">
    <ion-buttons slot="start">
      <ion-button color="primary" href="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-label class="navigation">Login</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-section">
    <img src="assets/logo/logo.png"/>

    <form [formGroup]="loginData" (ngSubmit)="submitForm()" novalidate>
      <ion-input type="tel" formControlName="phone" placeholder="No Handphone"></ion-input>
      <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
      <ion-anchor routerLink='/lupa-password'>Lupa Password ?</ion-anchor>
      <ion-button class="btn-signup" (click)="btnRegister()">Daftar</ion-button>
      <ion-button type="submit" class="btn-login">Masuk</ion-button>
    </form>
  </div>
</ion-content>